<div class="container">
  <div class="section">
    <div class="text-container">
      <div class="heading">Foodiez</div>
      <div class="content">
        Welcome to our recipe app! We're passionate about simplifying your
        cooking journey. With our user-friendly interface, you can effortlessly
        save and organize your favorite recipes. But that's not all our unique
        feature allows you to seamlessly transfer ingredients to your shopping
        list with just one click, making meal planning a breeze. Say hello to
        stress-free cooking with our app!
      </div>
      <div class="button"><a routerLink="/auth">Login</a></div>
    </div>
    <div class="image-container">
      <img src="assets/img.jpg" alt="img" />
    </div>
  </div>
</div>
